body {
    background-image: url(../images/alaska-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    color: #3c3b3f;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', 'Helvetica', sans-serif;
        font-weight: 700;
        color: #01426a;
        text-shadow: 1px 1px 5px rgba(12,0,0,.4);
        &.light {
            color: #fff;
        }
    }
}
